apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ inventory_hostname }}-{{ xfs_location_name }}-{{ name }}
  labels:
{% for key, value in volume.1.labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
spec:
  capacity:
    storage: {{ size }}
  # volumeMode field requires BlockVolume Alpha feature gate to be enabled.
  #volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage-dedicated
  local:
    path: {{ path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ inventory_hostname }}
