apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
  labels:
    name: kube-proxy
spec:
  hostNetwork: true
  containers:
    - name: kube-proxy
      image: {{ kube_proxy_image }}
      securityContext:
        privileged: true
      args:
        - /usr/local/bin/kube-proxy
        - --config=/etc/kube-proxy/config
        - --logtostderr=true
      env:
        - name: CONFIG_HASH
          value: {{ kube_proxy_config_hashsum }}
      livenessProbe:
        httpGet:
          path: /healthz
          port: 10249
          host: 127.0.0.1
      resources:
        requests:
          cpu: 100m
          memory: 100Mi
        limits:
          cpu: 1000m
          memory: 100Mi
      volumeMounts:
        - name: config
          mountPath: /etc/kube-proxy
        - mountPath: /run/xtables.lock
          name: xtables-lock
          readOnly: false
        - mountPath: /lib/modules
          name: lib-modules
          readOnly: true
  volumes:
    - name: config
      hostPath:
        path: /etc/kube-proxy
    - name: xtables-lock
      hostPath:
        path: /run/xtables.lock
        type: FileOrCreate
    - name: lib-modules
      hostPath:
        path: /lib/modules
