apiVersion: v1
kind: Pod
metadata:
  name: master-proxy
  namespace: kube-system
  labels:
    name: master-proxy
spec:
  hostNetwork: true
  containers:
    - name: forwarder
      image: {{ nginx_image }}
      env:
        - name: CONFIG_HASH
          value: {{ master_proxy_config_hashsum }}
      livenessProbe:
        tcpSocket:
          port: 6443
      resources:
        requests:
          cpu: 100m
          memory: 50Mi
        limits:
          cpu: 1000m
          memory: 50Mi
      volumeMounts:
        - name: config
          mountPath: /etc/nginx/
  volumes:
    - name: config
      hostPath:
        path: /etc/master-proxy/
