{
  "CN": "kubernetes",
  "hosts": [
    {% for host in groups['all'] %}
    "{{ host }}",
    "{{ hostvars[host]['ansible_host'] }}",
    "{{ hostvars[host]['inventory_hostname'] }}",
    "{{ hostvars[host]['inventory_hostname_short'] }}",
    {% endfor %}
    "127.0.0.1",
    "10.16.0.1",
    "localhost",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster.local"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "Kubernetes"
    }
  ]
}
